.Results {
  max-width: 600px;
  display:inline-block;
text-align: center;clear:both;
}

@media (max-width: 400px) {
  .Results {
    max-width: 100%;
    display:inline-block;

  }
}

img{
  max-width:100%;
  height: auto;


}
