.Results {
 display:inline-block;
 height: 55px;
 margin: 30px auto 30px;
 text-align: center;
}

.ResultsInner{
 max-width: 600px;
}



@media (max-width: 400px) {
  .Results {
    max-width: 100%;
    display:inline-block;

  }
}
